<ion-view title="发票说明">
    
    <ion-content>

    	<div class="checkout-invoice-detail-main font-small">
            <strong class="font-normal">一、发票规定总则</strong><br />
			根据相关税务管理部门的要求，在中免商城销售的商品所开具的发票均合法有效。<br /><br />

			<strong class="font-normal">二、开具发票的一般规定</strong><br />
			1、发票金额不能高于订单金额。<br />
			2、发票金额只含现金购物金额，不包含运费、优惠券、代金券金额。<br />
			3、发票抬头内容不能为空，您可选择个人、公司或您的姓名。<br />
			4、发票内容：商品名称、箱包、饰品、钟表、化妆品、服装、鞋帽、眼镜，当您购买礼品卡时还可以选择如下发票内容：办公用品、劳保用品、礼品。<br />
			5、个人及不具有一般纳税人资格的企业客户，均开具普通发票。企业订单需要开具增值税专用发票，需联系客服人员办理。<br />
			6、发票将在“七天无理由退货期”结束后开具，另行邮寄给消费者。<br />
			7、如果一个订单中购买两件以上商品，请根据商品品类多项勾选需要开具的发票内容。<br />
			8、跨境直邮商品不提供发票。<br /><br />

			<strong class="font-normal">三、申请补开的发票的规定</strong><br />
			请于购买商品一个月内补开，逾期将不予受理。由客服人员为您办理补开发票事宜，快递费用由中免商城承担。<br /><br />

			<strong class="font-normal">四、发票换开情况</strong><br />
			您在收到发票后一个月内如果发现因中免商城原因所致票据抬头、内容或金额错误，请拨打中免商城客户客服电话：4008-599-599，由客服人员为您办理换开发票事宜。中免商城收到退回的发票后会尽快开具新发票。<br />
    	</div>
        
    </ion-content>
    
</ion-view>