<ion-view title="商品介绍">

    <ion-nav-buttons side="right">
        <a class="button button-clear icon-cart" href="#/cart"><i>{{cart.total}}</i></a>
    </ion-nav-buttons>
    
    <ion-content  scroll="false" class="has-bar-footer font-normal">
        
        <div class="top-button-bar col4">
            <button class="button {{button.state}} font-small" ng-click="showInfoContent($index)"
                    ng-repeat="button in infoButtons">
                {{button.text}}
            </button>
        </div>

        <ion-content class="product-info-main has-top-button-bar font-small ng-hide" ng-show="infoState == 0">
            <ul class="product-property font-mini">
                <li>
                    <p><span class="fl">商品编码：</span>{{product.skucode}}</p>
                </li>
                <li ng-repeat="dese in product.product_dese">
                    <p><span class="fl">{{dese.key}}：</span>{{dese.value}}</p>
                </li>               
            </ul>
            <div class="product-info-content-sizeimg" ng-show="productExt.catgoryAttrs.tablePicture">               
                <img cm-zoom-pic cm-lazyload="productExt.catgoryAttrs.tablePicture" />
            </div>

            <div class="product-info-content-size font-mini" ui-sref="product.size" ng-show="productExt.productSize.colcount > 0">
                <div class="product-info-content-size-line font-mini col{{productExt.productSize.colcount}}">
                    <p class="title font-mini" ng-repeat="header in productExt.productSize.header">
                        <span>{{header}}</span>                                           
                    </p>
                </div>
                <div class="product-info-content-size-line font-mini col{{productExt.productSize.colcount}}" ng-repeat="newdata in newsizedata track by $index">
                    <p class="font-mini" ng-repeat="n in newdata track by $index">{{n}}</p>
                </div>
            </div>

        </ion-content>

        <ion-content class="product-info-main has-top-button-bar font-normal ng-hide" ng-show="infoState == 1"> 
            <div cm-bind-html="branddesc"></div>
        </ion-content>

        <ion-content class="product-info-main has-top-button-bar font-normal ng-hide" ng-show="infoState == 2">
            <div cm-bind-html="baoyangchangshi"></div>
            <div class="info-tips font-small">
                <span class="font-normal"><strong>服装保养说明</strong></span><br /><br />

                <span class="font-normal">一、服装的洗涤和保养方法</span><br />

                 <strong>T恤/毛衫</strong><br />
                1、羊毛衫应尽量干洗，以保持其外观完好性；<br />
                2、T恤宜用中性洗涤剂手洗，忌用机洗和甩干。洗涤时应将整件T恤内翻，并避免揉搓有图案的一面，洗涤后平摊于晒衣网上晾干，不要拉扯领口竖直晾晒，以防领口变形。深色全棉或丝光棉T恤，按标准洗涤后也会出现轻微褪色，这是棉织品的特征，属正常现象。<br />

                <strong>衬衫</strong><br />
                1、洗涤时注意与其他深色棉织物分开，以免染色。忌用手搓衣领，以免影响产品外观形象。棉、麻产品洗涤时水温≤30℃，以防面料发生强烈缩水现象。衬衫可干洗；<br />
                2、晾晒时避免曝晒，以免面料褪色泛黄。<br />

                <strong>茄克/皮衣/大衣</strong><br />
                1、茄克/大衣，一般为棉、羊毛、化纤和皮革类，前三种尽量选择手洗和干洗，避免机洗褪色、缩水和起泡，穿着与晾晒时避免长时间强光照射，以防产品变色；<br />
                2、皮制品不要水洗，尽量避免接触强酸、强碱及油类等具有腐蚀性的物质，不要受潮、淋雨及曝晒，需使用皮革专用清洁剂和保养剂进行经常性护理并且贮存在通风干燥的地方。<br />

                <strong>西服/西裤</strong><br />
                1、毛料西服西裤应到专业洗涤商店进行干洗，勿用机洗，且请尽量避免淋湿或用蒸汽熨斗直接喷气，因这样极易引起西服的羊毛衬受潮、粘合剂受潮或粘合剂的粘合性失效，即形成俗称的起泡现象；<br />
                2、保存时请使用衣架，建议每件西服不要连续穿着两天以上，毛料西服应在相对湿度为35%－40%的环境中放置一晚，以便恢复造型，除去褶皱。经常清刷西服，以便除尘；<br />
                3、较深色的西装，穿用一段时间后，常会在肘部、膝盖、臀部等地方呈现发光现象，需用温水加入少量洗涤剂，用毛巾沾湿擦拭，再垫上一层布，用熨斗熨烫，发光现象会自然消失。<br />

                <strong>休闲裤/牛仔裤</strong><br />
                1、休闲、牛仔服装通常采用天然纤维织造，天然纤维一般具有易褪色、易缩水、易皱的特点；<br />
                2、在洗涤时将衣物翻至反面，选用中性洗涤剂冷水洗涤，浸泡时间不宜过长；<br />
                3、深色衣服不能与浅色衣物混合洗涤，第一次洗涤时最好在冷水中加一勺食盐，浸泡一会再搓洗；<br />
                4、在穿着前请先用中温蒸汽熨烫，不穿时清洗后叠放整齐或挂好置于阴凉通风处；<br />
                5、穿着深色衣服时请小心与浅色衣物搭配（例如：内衣裤），避免靠坐在浅色特别是潮湿的物体上。另请注意，棉类产品可能出现钥匙磨擦后面料泛红的现象，所以裤子上最好不要吊挂此类物品。<br />

                <span class="font-normal">二、服装洗涤、晾晒、储存小贴士</span><br />

                <strong>防止洗涤褪色</strong><br />
                1、加剂法：人造纤维衣服洗涤时，要在水中加一些食盐，高级衣料可以在水里加少量明矾，避免或减少衣服褪色；<br />
                2、酸洗法：洗涤有色布料衣服时，在洗涤剂中加1～2匙食醋，也能防止衣服褪色。<br />

                <strong>关于晾晒衣物</strong><br />
                1、晾晒衣服时，应将其反过来，要衣里朝阳，衣表背阴。不要在阳光下曝晒，应在阴凉通风处晾至半干时，再放到弱太阳光下晒干，以保护色泽、延长寿命；<br />
                2、晾晒衣服要注意风向。避免衣服沾上过多粉尘，影响穿着效果；<br />
                3、晾晒衣服时不可将衣服拧得太干，而应带水晾晒，并用手将衣服的襟、领、袖等处拉平，这样衣服干后就会保持平整，不起皱褶。<br />

                <strong>怎样储存衣物</strong><br />
                1、天然纤维和人造纤维的衣物要悬挂保存。衬衣衬裤及针织服装可以平整叠起来存放，对于外衣外裤要用大小合适的衣架裤架将其挂起。悬挂时要把服装摆正，防止变形，衣架之间应保持一定的距离。切不可乱堆乱放；<br />
                2、避免引起虫蛀,用樟脑球处理.樟脑球应用纸袋包扎好与衣物隔开,避免产生化学作用。<br /><br />
                
                <span class="font-normal"><strong>鞋靴保养说明</strong></span><br /><br />

                1、所有皮革及麂皮货品均为天然染色及未经特别处理，请避免接触浅色衣服；以免造成染色；<br />
                2、不同颜色漆皮皮具鞋靴请避免在一起放置，以免造成吸色；<br />
                3、所有货品请避免接触水、油、清洁剂、漂白剂或其他化学品；<br />
                4、所有货品需保持干燥，存放于通风清凉处，避免受阳光直接照射；<br />
                5、所有货品若需要清理建议到专业清洗店进行处理；<br />
                6、长时间不穿的鞋，需在鞋盒或鞋柜内置干燥剂，以免发霉。<br /><br />

                <span class="font-normal"><strong>箱包保养说明</strong></span><br /><br />

                1、所有皮革及麂皮货品均为天然染色及未经特别处理，请避免接触浅色衣服，以免造成染色；<br />
                2、不同颜色漆皮皮具鞋靴请避免在一起放置，以免造成吸色；<br />
                3、所有货品请避免接触水、油、清洁剂、漂白剂或其他化学品；<br />
                4、所有货品需保持干燥，存放于通风清凉处，避免受阳光直接照射；<br />
                5、所有货品若需要清理建议到专业清洗店进行处理；<br />
                6、真皮皮包不用时，最好置于棉布袋中保存。包内塞入一些软卫生纸或报纸，以保持皮包的形状；<br />
                7、随身携带皮具皮包建议勿携带过重物品，以免造成皮具的破损及断裂。<br /><br />

                <span class="font-normal"><strong>腕表保养说明</strong></span><br /><br /> 

                <span class="font-normal">一、手表的防水</span><br /> 

                1、手表的防水依靠表玻璃、后盖、表把等处的防水胶圈而达到相应的标准。通常按照其等级分为30米、50米、100米、200米、300米等；<br />
                2、30米（即三个大气压）防水表、可于日常梳洗或雨水使用，50米防水表可用于游泳及一般家务。100米以上的专业防水表可用于游泳和潜水等水下工作。但在游泳和从事潜水等水下工作前，请先去该表的特约维修站检测其防水程度；<br />
                3、任何防水表都不宜戴着接触热水、水蒸气（如洗热水浴、桑拿），因手表的防水胶圈受温度影响会热胀冷缩出现空隙、加速老化。如发生这样的情况，请尽快到专业手表维修部进行清洗和保养；<br />
                4、手表要保持在正常位置，螺纹把头应旋紧，把头处湿润有水或有污垢时，要擦干净后在拔出以防进水进灰，切勿在水中调校表把；<br />
                5、手表的防水胶圈和表把（内含防水圈）根据使用情况要定期更换。<br /> 

                <span class="font-normal">二、表镜、表壳和表带</span><br />

                1、表镜的材料分为有机玻璃、普通玻璃、蓝宝石玻璃等。表壳，表带的材料常见的有塑料，铜，不锈钢，钨钛合金，高科技陶瓷，金等；<br />
                2、蓝宝石玻璃、钨钛合金和高科技陶瓷是不易磨损的材料，他们的硬度分别可达莫氏9级，8级，7级（钻石为10级）。这些材料虽然不易磨损，但却不能承受强力撞击，同时一些硬度相同或更高的物质，例如钻石、刚玉、石英水晶都有可能损坏这些材料。磨石，砂纸，指甲锉，花岗岩石，混凝土墙面及地面等均含有以上物质，会刮花这些材料的表面；<br />
                3、表壳，表带需经常清洁，可用温水洗净擦干。汗水、污垢等会腐蚀手表外观件，并可引起个别皮肤过敏。新买的手表要撕掉后盖上保护膜，否则汗水会残留在中间腐蚀后盖。手表要避免接触各种化学药品、化妆品、洗涤用品等，一旦碰到，要及时清洗干净，以免引起镀层变色、脱落等。<br />

                <span class="font-normal">三、走时误差</span><br /> 

                1、通常机械表允许误差为每日30秒-45秒（正负均可）。石英表，每月15秒-30秒（正负均可），具体误差根据不同表款所用的机芯、所处环境、温度等情况而定；<br />
                2、石英两针表在调校时间时要拨快一分钟，以补偿齿轮间的间隙；<br />
                3、自动表的动力源依靠佩戴者手腕的摆动给发条上弦。如上时间放着不戴或摆动不足将引起手表停走，再佩戴前应先给手表手动上弦。<br /> 

                <span class="font-normal">注意事项：</span><br /> 

                1、手表的使用寿命与佩戴者是否正确使用和保养有关。例如佩戴手表洗澡，手表外观肮脏，使用环境恶劣，严重撞击等，都会使手表容易损坏，缩短使用寿命；<br />
                2、要妥善保存好购物凭证等文件。当手表出现问题时，特别是电池寿命将用完，手表进水等须及时维修，以免引起其他机件损坏。<br /><br />

                <span class="font-normal"><strong>配饰保养说明</strong></span><br /><br />

                <span class="font-normal">一、领带保养</span><br />

                1、清洁领带：请以软性清洁剂，短时间浸泡，轻柔搓洗，不可用洗衣机清洗；<br />
                2、熨烫领带：熨烫时切勿用高温，否则会破坏领带的垂坠感。熨烫前请覆盖一层棉布，避免熨斗直接与领带布面接触；<br />
                3、存放：请使用后将领带垂直吊挂让皱褶自然消除。如外出携带，请卷好放置，尽量避免被压皱。 <br />

                <span class="font-normal">二、首饰保养</span><br />

                1、尽量避免硬度不同的首饰放置在同一个抽屉或首饰盒内，否则会互相磨擦而导致耗损；<br />
                2、从事运动、家事等，请取下饰品，避免外力碰撞受损；<br />
                3、尽量不要接触汗水、雨水、海水、香水及化妆品；<br />
                4、若长时间不配戴，可放置于密封袋内，避免与空气接触；<br />
                5、首饰清洁：使用温水及中性温和的洗洁精(如色拉脱)，配合软毛刷(如牙刷)来进行清洁。清洁后使用干净、柔软的布擦拭，避免水份长时间附着在饰品上。<br />

                <span class="font-normal">三、太阳镜保养</span><br />

                1、在戴摘眼镜时，请双手抓住镜脚，正面向外摘下，单手一边戴摘眼镜，容易造成变形、松脱现象；<br />
                2、不用时用擦镜布包好，镜片朝上并置于专用袋内，慎防镜片与镜框被硬物划伤；<br />
                3、镜框或镜片沾染了灰尘、汗水、油脂、化妆品等请用中性洗涤剂温水清洁，再用软布吸干；<br />
                4、禁止长时间沾水、泡水和放置于固定处受阳光暴晒；禁止长时间置于电流、金属边；<br />
                5、收镜时请先折左边镜脚；<br />
                6、感光变色镜请不要长时间搁置在强光直射的地方,否则会缩短变色效果的使用时间,感光变色因长期配戴而渐渐失效也不会改变偏光效果,请放心使用；<br />
                7、开车时请勿将太阳镜放在仪表盘位置，否则太阳镜可能会受热变形，尤其是板材镜框的太阳镜几乎都不抗热；<br />
                8、将太阳镜架在头顶是不正确的，这样很容易会拉坏挂钩。眼镜不戴时应小心取下，置放时要将眼镜折好，并将镜面朝上。请勿将未放入眼镜盒的眼镜放入包中或衣袋内，这样很容易使太阳镜镜片被钥匙或梳子等东西的棱角刮伤。 <br />

                <span class="font-normal">四、围巾保养说明</span><br />

                <strong>羊毛围巾：</strong><br />
                1、请使用低于35度的水洗涤围巾，否则会造成纤维扭曲，外观缩水；<br />
                2、浸泡时间不要超过10分钟，洗涤时间不要超过25分钟。正确的洗涤时间是：浸泡5-10分钟，立即清洗，漂洗3遍即可；<br />
                3、甩干时请用浴巾包住围巾，再放进脱水机脱水，压实，防止脱水时围巾变形；<br />
                4、晾晒时要平摊晾干，防止围巾因垂挂重力拉伸变形。<br />

                <strong>丝质围巾：</strong><br />
                1、洗涤：为防止晕染，深色同浅色分开洗涤;切忌用30 摄氏度以上的热水洗涤带有汗渍的丝绸，使用丝绸专用洗涤剂，手洗为佳，切忌拧搓，以免并丝，伤害面料。忌日晒，不可烘干，适合阴干，以免退色发白；<br />
                2、熨烫：应在丝织品八成干时熨烫，温度不可高于130 摄氏度，以免纤维脆化。不宜直接喷水，并要熨烫反面；<br />
                3、收藏：叠放为宜，忌放樟脑，以免泛黄。 <br />

                <span class="font-normal">五、腰带保养说明</span><br />

                1、尽量避免腰带与水接触，不慎弄湿的话，应尽量等风干以后再戴上，以避免产生异味；<br />
                2、冬天表带的硬化程度较大，容易有弯曲的形状出现，这时千万不要反折，以免伤害皮质；<br />
                3、腰带使用时间长，产生异味，可用小刷子沾少许肥皂水，快速地将脏的地方刷洗干净，用清水迅速冲干净，再用干布擦干，最后再涂上一些皮革油即可(皮肤敏感者，则建议背面不要使用任何油剂)，整个清洗过程最好在 10 至 20 秒内完成，以避免肥皂渗入而影响皮质。<br />

            </div>
        </ion-content>

        <ion-content class="product-info-main has-top-button-bar font-normal ng-hide" ng-show="infoState == 3">
            <div cm-bind-html="tips"></div>
        </ion-content>

        <!--
        <ion-content class="product-info-main has-top-button-bar font-normal" ng-show="infoState == 3">
            <div ng-bind-html="buyknow()"></div>
            购买须知购买须知购买须知购买须知
        </ion-content>
        -->

    </ion-content>    
</ion-view>