<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.okar.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.okar.app.ICZApplication"
        android:allowBackup="true"
        android:icon="@drawable/icz_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity
            android:name=".SplashActivity">

        </activity>

        <activity
            android:name=".ICZLoginActivity">

        </activity>

        <activity
            android:name=".IndexActivity"
            android:theme="@style/IczActionBar">

        </activity>
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".RegisterActivity">

        </activity>
        <activity android:name=".ChatActivity">

        </activity>
        <activity android:name=".FriendListActivity">

        </activity>
        <activity android:name=".ICZWebActivity"
            android:theme="@style/IczActionBar">

        </activity>

        <activity android:name=".AnimActivity">

        </activity>
        <!-- 测试数据库 -->
        <activity android:name=".TestDao">

        </activity>

        <activity android:name=".TestSwipeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--<activity android:name=".TestActivity">-->
        <!--</activity>-->

        <service
            android:name="com.okar.service.ChatService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.okar.service.CHAT_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>
