<ion-view title="zhuye">
    <ion-nav-buttons side="left">
    <!--<a class="button button-clear icon-scan" href="#/scan"></a>-->
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <a class="button button-clear icon-search" href="#/search"></a>
    </ion-nav-buttons>
    
    <ion-content class="has-tabs" scroll="false">

    </ion-content>
    
    <div class="tabs tabs-icon-top">

        <a class="tab-item tab-item-active" ui-sref="" >
            <i class="icon icon-home">
            </i>
            <span class="tab-title">
                会员详情
            </span>
        </a>

    </div>
</ion-view>