<ion-view hide-nav-bar="true" >
    
    <ion-content scroll="false" class="tutorial-main">
        <ion-slide-box does-continue="true" show-pager="false">
            <ion-slide>
            	<ion-scroll direction="x" scrollbar-x="false" class="tutoriol-1">
                    <a ng-click="skip()"></a>
                </ion-scroll>
            </ion-slide>

            <ion-slide>
            	<ion-scroll direction="x" scrollbar-x="false" class="tutoriol-2">
                    <a ng-click="skip()"></a>
                </ion-scroll>
            </ion-slide>
            
            <ion-slide>
            	<ion-scroll direction="x" scrollbar-x="false" class="tutoriol-3">
                    <a ng-click="skip()"></a>
                </ion-scroll>
            </ion-slide>
            
            <ion-slide>
            	<ion-scroll direction="x" scrollbar-x="false" class="tutoriol-4">
                    <a ng-click="skip()"></a>
                </ion-scroll>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    
</ion-view>