<ion-view title="更改邮箱">
    
    <ion-content scroll="false">
        <div class="account-mail-main">
            
            <p class="account-mail-tips font-huge">               
                <span class="font-huge">邮箱解绑成功！</span>          
            </p>

            <div class="account-mail-form input-text-row font-huge">
                <form>
                    <input type="text" class="input-text font-small" placeholder="绑定新邮箱" />
                </form>
            </div>

            <div class="account-mail-btn">
                <button class="button button-confirm font-normal">提 交</button>
            </div>

        </div>       
    </ion-content>
    
</ion-view>