<ion-view title="账户安全">
    
    <ion-content scroll="false" class="myaccount-cont-bg">
        <ul class="account-security-main">
            
            <li class="font-small" ui-sref="modifypwd">
                <p class="font-normal">
                    <i class="account-security-main-password"></i>
                    <button class="button button-confirm font-small">修 改</button>
                    登录密码
                </p>
                <p class="font-small">
                    包含数字与字母，并且长度超过8位以上的密码，可以使账号更加安全。建议您定期更改密码，预防账户被盗风险。
                </p>
            </li>

            <li class="font-small" ui-sref="modifyphone">
                <p class="font-normal">
                    <i class="account-security-main-phone"></i>
                    <button class="button button-confirm font-small">修 改</button>
                    手机验证
                </p>
                <p class="font-small">
                    验证后，可用手机号登录，快速找回登录密码及支付密码，接受账户余额变动提醒。
                </p>
            </li>

            <!--<li class="font-small" ui-sref="accountmail">
                <p class="font-normal">
                    <i class="account-security-main-mail"></i>
                    <button class="button button-confirm font-small">立即验证</button>
                    邮箱验证
                </p>
                <p class="font-small">
                    验证后，可用于邮箱登录，找回登录密码，接受站内邮件。
                </p>
            </li>-->

        </ul>       
    </ion-content>
    
</ion-view>