<ion-view title="账户管理">
    
    <ion-content scroll="false" class="myaccount-cont-bg">
        <div class="myaccount-main">
            
            <ul class="myaccount-main-list">

                <li ui-sref="basicinfo">
                    <i class="account-info font-normal"></i>
                    <p class="font-normal">基本资料</p>
                </li>

                <li ui-sref="consignee.consigneelist">
                    <i class="account-consignee font-normal"></i>
                    <p class="font-normal">收货地址</p>
                </li>

                <li ui-sref="accountsecurity">
                    <i class="account-safe font-normal"></i>
                    <p class="font-normal">账户安全</p>
                </li>

            </ul>

        </div>       
    </ion-content>
    
</ion-view>