<ion-view title="优惠券/中免卡">
    
    <ion-content scroll="false" class="card-management-bg">
        <div class="card-management-main">
            
            <ul class="card-management-list">

                <li ui-sref="coupons">
                    <p class="font-normal">优惠券</p>
                </li>

                <li ui-sref="prepaidcard">
                    <p class="font-normal">中免卡</p>
                </li>

            </ul>

        </div>       
    </ion-content>
    
</ion-view>