<ion-view title="退货选择">

	<ion-content class="refund-content">		
		
		<div class="refund-box refund-detail-step">
			<div class="refund-step">

				<div class="refund-step-line">
					<i></i>
					<p class="font-small">处理信息处理信息处理信息处理信息处理信息处理信息</p>
					<p class="font-mini line-time">2014-07-12  14:12</p>
				</div>

				<div class="refund-step-line">
					<i></i>
					<p class="font-small">处理信息处理信息处理信息处理信息处理信息处理信息</p>
					<p class="font-mini line-time">2014-07-12  14:12</p>
				</div>

			</div>
		</div>

		<ul class="refund-box refund-detail-list">
			<li>				
				<div class="selection-base">
					<img ng-src="11.jpg" />
				</div>
				<div class="counter-line font-normal">989</div>				
			</li>
			<li>				
				<div class="selection-base">
					<img ng-src="11.jpg" />
				</div>
				<div class="counter-line font-normal">1</div>				
			</li>
		</ul>	

		<div class="refund-box refund-detail-info">
			<dl class="font-small">
				<dt class="font-small">问题描述：</dt>
				<dd class="font-small">问题描述问题描述问题描述问题描述问题描述问题描述问题描述问题描述</dd>
			</dl>
			<dl class="font-small">
				<dt class="font-small">联系人：</dt>
				<dd class="font-small">我我我</dd>
			</dl>
			<dl class="font-small">
				<dt class="font-small">联系电话：</dt>
				<dd class="font-small">11111111111</dd>
			</dl>
		</div>	

	</ion-content>
	
</ion-view>