<ion-view title="退货选择">

	<ion-content class="refund-content">
		
		<ul class="refund-box refund-apply-list">
			<li>				
				<div class="selection-base selection-correct">
					<img ng-src="11.jpg" />
				</div>
				<div class="counter-line">
					<button>-</button>
					<input type="text" value="1" disabled/>
					<button>+</button>
				</div>				
			</li>
			<li>				
				<div class="selection-base">
					<img ng-src="11.jpg" />
				</div>
				<div class="counter-line">
					<button>-</button>
					<input type="text" value="999" disabled/>
					<button>+</button>
				</div>
			</li>
		</ul>

		<div class="refund-box refund-apply-form">

			<form>

				<textarea class="font-small" placeholder="请您详细描述退货原因及商品清空，字数在500字内"></textarea>

				<div class="input-text-row">
					<input type="text" class="input-text font-small" placeholder="联系人姓名" />
				</div>

				<div class="input-text-row">
					<input type="text" class="input-text font-small" placeholder="联系电话" />
				</div>

				<button class="button button-block button-confirm font-normal">提交</button>

			</form>

		</div>

	</ion-content>
	
</ion-view>