<ion-view title="手机验证">
    
    <ion-content scroll="false">
        <div class="modify-phone-main">

            <div class="modify-phone-form">
                <form>
                
                    <dl class="font-small">
                        <dt class="font-small">
                            <span>原手机号码：138****8888</span>
                        </dt>
                        <dd class="font-small"></dd>
                    </dl>

                    <dl class="font-small">
                        <dt class="input-text-row font-small">
                            <input type="text" class="input-text font-small" placeholder="右侧验证码" />                        
                        </dt>
                        <dd class="font-small">
                            <div class="imgcode font-small">
                                <img ng-src="../../img/temp/register-img1.jpg" />
                                <a class="code-refresh"></a>
                            </div>
                        </dd>
                    </dl>

                    <dl class="font-small">
                        <dt class="input-text-row font-small">
                            <input type="text" class="input-text font-small" placeholder="输入短信验证码" />                       
                        </dt>
                        <dd class="font-small">
                            <button class="button button-confirm font-small">
                                获取短信验证码
                            </button>
                        </dd>
                    </dl>

                </form>
            </div>

            <div class="modify-phone-btn">
                <button class="button button-confirm font-normal">提 交</button>
            </div>

        </div>       
    </ion-content>
    
</ion-view>